/* Chatbot */

#chatbot-container {
    text-align: center;
    margin-top: 50px;
}

#chatbot-container h1 {
    font-size: 24px;
}

#chatbot-container p {
    font-size: 16px;
    margin-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}