/* Container principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Conteúdo */
.conteudo {
    text-align: center;
    margin-bottom: 20px;
}

/* Container dos cards */
.card-container {
    display: flex;
    justify-content: center;
}

/* Estilo dos cards */
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 300px;
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #666;
}
